<div class="container">
	<div class="row justify-content-around">
		<div class="col-4">
			<h1 class="">New Link</h1>
			<%= render 'form', link: @link %>
			<%= link_to 'Back', links_path %>
		</div>	
	</div>
</div>


